@import '../../assets/stylesheets/variables';

.css {
  padding: 10px 30px;

  h1 {
    font-size: 20px;
    color: $brightgreen;
  }

  ul {
    margin-top: 20px;
    margin-left: 40px;
    & > li {
      list-style: square;
      margin: 10px 0px;
      & > a {
        font-size: 22px;
        color: white;
      }

      & > a:hover {
        color: $brightblue;
      }
    }
  }
}