@import '../../assets/stylesheets/variables';

.webgl {
  display: flex;
  padding: 0px 10px;

  h2 {
    font-size: 20px;
    color: $brightgreen;
  }

  pre, table {
    margin: 10px 0;
  }

  canvas {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .column {
    padding: 10px 20px;
  }

  .playerbar {
    margin-bottom: 20px;
  }

  .description {
    margin-top: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    th, tr, td {
      padding: 3px 8px;
      border: 1px solid $white;
    }
  }
}
