@import "assets/stylesheets/variables";
@import "assets/stylesheets/base";

.nav {
  padding: 12px;
  border-bottom: 1px dashed $yellow;
  margin-bottom: 20px;

  .header {
    display: inline-block;
    font-size: 24px;
    margin-right: 50px;

    a, a:active, a:visited {
      color: $brightgreen;
      text-decoration: none;
    }
  }

  ul {
    display: inline-block;
    font-size: 18px;

    li {
      display: inline-block;
      padding: 12px;

      a, a:active, a:visited {
        color: $white;
      }
    }
  }
}
